body {
  background-color: black;
}

#tomorrow {
  color: #71c9ce;
}

.nav {
  fill: #71c9ce;
}

.nav:hover {
  fill: #cbf1f5;
}

.cant {
  fill: #393e46;
  pointer-events: none;
}

#board {
  border: 0.5em solid #2c3333;
}

.cell {
  color: #393e46;
  background-color: #222831;
}

.cell:hover {
  background-color: #393e46;
  box-shadow: 0 0 11px rgba(82, 97, 107, 1);
}

.done {
  color: #eeeeee;
  animation: flicker 0.3s 1 alternate;
}

@keyframes flicker {
  50% {
    background-color: #52616b;
  }
}

.visited {
  animation: scale 0.3s 1;
  background-color: #393e46;
}

.win {
  color: #e3fdfd;
  background-color: #71c9ce;
}

.win:hover {
  background-color: #95e1d3;
}

#date {
  color: #71c9ce;
}

#toggle {
  fill: #71c9ce;
}

#toggle:hover {
  cursor: pointer;
  fill: #cbf1f5;
}

#info {
  fill: #71c9ce;
}

#info .tooltip {
  background-color: rgba(57, 62, 70, 0.8);
  color: #eeeeee;
}

@media (max-width: 800px) {
  .cell {
    box-shadow: 0 0 1px #eeeeee inset;
  }
}
